body{
    background-color: #ffffff
}
header {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 1rem 1rem 1rem 0rem;
  }
header figure img.logo{
width: 200px;
}
header div i{
    color: rgb(95, 95, 95);
    size: 20px;
}
nav{
    display: none;
} 


main section.like-no-other{
    display: grid;
    grid-template-columns: 274px 1fr 1fr;
    grid-auto-rows: 410px;
    grid-template-areas: 
    "left left right";
    width: 100%;
    margin: 0 auto; 
    row-gap: 1rem;
    padding: 0;
    height: 410px;
    box-sizing: border-box;
}

main section div.column-left{
    grid-area: left;
    height: 410px;
    padding-left: 2rem;
    padding-top: 3rem;
    box-sizing: border-box;
}
.left-1{
width: 169px;
height: 19px;

}

.left-2{
width: 274px;
height: 116px;
}

.left-3{
    max-width: 200px;
}

section div p.top{
font-style: normal;
font-weight: 700;
font-size: 16px;
color: #FF3998;

 }

 section div h1{
font-weight: 900;
font-size: 48px;
}

section div p.inside{
    font-size: 1rem;
    color: #555555;
    padding-bottom: 1rem;
}

section div button{
    background-color: #ffffff;
    border: 1px solid #FF3998;
    border-radius: 1.3rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 130px;

}
main section div.column-right{
    grid-area: right;
    height: 410px;
    margin: 0;
    box-sizing: border-box;
}

main section div.column-right img{
    height: 350px;
    object-fit: cover;
    object-position: -20px -30px;  
}

main section.free-nft{
background: linear-gradient(45deg, #FF3998 10%, #FF8139 70%,#39FFA0);
height: 326px;
padding-top: 2rem;
margin-top: 2rem;
text-decoration: none;
box-sizing: border-box;
}

div.div-free-nft{
width: 364px;
height: 172px;
padding: 5rem 0 5rem 2rem;
display: block;
}

a.topfreenft{
color: black;
text-decoration: none;
font-weight: 300;
font-size: 48px;
display: block;
}

a.bottomfreenft{
padding-top: 2rem;
color: black;
text-decoration: none;
font-size: 1rem;
color: black;
display: block;
}

main section.pres{
width: 364px;
height: 117px;
margin: 2rem;
}

.press1{
width: 132px;
height: 40.46px;
object-fit: cover;
object-position: 0px 0px; 
margin-right: 4rem;
}

.press2{
width: 154px;
height: 46.19px;
}

.press3{
width: 132.72px;
height: 45.95px;
}

.press4{
display: none; 
}

.press5{
width: 156.12px;
height: 40.47px;
margin-left: 4rem;
}

main section.auction{
width: 1280px;
height: 642px;
margin: 2rem;
box-sizing: border-box;
}

main section.auction p.auction-top{
width: 364px;
height: 96px;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 48px;
color: #111111;
margin:0;
}

main section.auction p.auction-main{
width: 364px;
height: 90px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #555555;

}

main section.auction p.auction-main a{
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #555555;   
}

main section div.card1{
width: 290px;
height: 400px;
display: inline-block;
margin-right: 36px;
box-sizing: border-box;
border-radius: 1rem;
background-color: #EEEEEE;
}

main section div.card2{
width: 290px;
height: 400px;
display: inline-block;
margin-right: 36px;
box-sizing: border-box;
border-radius: 1rem;
background-color: #EEEEEE;
}

main section div.card3{
width: 290px;
height: 400px;
display: inline-block;
margin-right: 36px;
box-sizing: border-box;
border-radius: 1rem;
background-color: #EEEEEE;
}

main section div.card4{
width: 290px;
height: 400px;  
display: inline-block;
box-sizing: border-box;
border-radius: 1rem;
background-color: #EEEEEE;
}

.cardleft{
width: 109px;
height: 74px;
display: inline-block;
margin-top: 1rem;
margin-left: 2rem;
}

.cardright{
width: 120px;
height: 74px;
display: inline-block;
margin-top: 1rem;
}

.iconprice{
width: 109px;
display: inline-block;
float: right;
}

.p-left-1{
color: #FF8139;
font-size: 12px;  
font-style: normal;
font-weight: 500;
line-height: 100%;
margin: 0%;
}

.p-left-2{
width: 109px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 100%;
color: #111111;
margin: 0.8rem 0 0 0;
}

.p-left-3{
width: 65px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 100%;
color: #777777;
margin: 0.7rem 0 0 0;
}

.p-right-1{
width: 48px;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 100%;
color: #777777;
margin: 0;
float: right;
}

.p-right-2{
width: 89px;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 100%;
color: #111111;
margin: 0.7rem 0 0 0;   
display: inline; 
float: right;
}

.p-right-3{
width: 78px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 100%;
float: right;
color: #777777;
margin: 0.7rem 0 0 0;
}