body{
    background-color: #ffffff
}
header {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 1rem 1rem 1rem 0rem;
  }
header figure img.logo{
width: 200px;
}
header div i{
    color: rgb(95, 95, 95);
    size: 20px;
}
nav{
    display: none;
} 


main section.like-no-other{
    width: 100%;
    display: flex;
    padding: 0;
    height: 3500px;
}

main section div.column-left{
   flex-grow: 1;
   height: 300px;
   max-width: 70%;
   min-width: 60%;
   padding-left: 1rem;
   padding-top: 50px;
   border: 1px solid #FF3998;
}
.left-2{
    max-width: 280px;
}

 section div p.top{
     color: #FF3998;
     font-size: 0.8rem;
 }
section div h1{
    font-size: 2.5rem;
}
section div p.inside{
    font-size: 0.8rem;
    color:rgb(95, 95, 95);
}
section div button{
    background-color: #ffffff;
    border: 1px solid #FF3998;
    border-radius: 1.3rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    width: 130px

}

main section figure{
    flex-grow: 1;
    height: 350px;
    margin: 0;
    border: 1px solid #FF3998;
}

main section figure img{
    height: 350px; 
    object-fit: cover;
    object-position: -30px -30px;  
}
